.bitcoinComp, .center {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chartContainer{
    background: #34373c;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
}
.chart{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.title {
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.currentPrice{
    font-size: small;
}
.currentAndDifference {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.pos,.neg{
    font-size: small;
}
.pos{
    color: #1bb76e;
}
.neg{
    color: #DB3535;
}
.disclaimer {
    font-size: x-small;
    opacity: 0.5;

}
.eth{
    text-align: center;
}